<div class="page">

  <div class="layout">
    <aside class="sidebar">
      <div class="profile">
        <div class="avatar"></div>
        <span>Username_123</span>
      </div>

      <div class="history-link">↺ Historial</div>

      <div class="logout-box">
        <p>CERRAR SESION</p>
        <button class="logout-btn">
        <span>SALIR</span> 
        <img src= "assets/icons/icon-logout.png" alt="logout" class="icon" /> 
        </button>
      </div>

      <div class="settings">⚙ Configuraciones</div>
    </aside>

    <main class="content">
      <div class="top-row">
        <div class="tabs">
          <button class="tab active">Activos</button>
          <button class="tab">Devueltos</button>
        </div>

        <div class="search-box">
          <span>🔍</span>
          <input type="text" placeholder="Buscar producto prestado..." />
        </div>
      </div>

      <div class="table">
        <div class="row">
          <div class="left">
            <h3>Articulo prestado 1</h3>
            <p>Usuario: Nombre del usuario</p>
          </div>
          <div class="right">
            Fecha del prestamo: XX/XX/XXXX &nbsp;-&nbsp; Fecha de devolucion: XX/XX/XXXX
          </div>
        </div>

        <div class="row">
          <div class="left">
            <h3>Articulo prestado 2</h3>
            <p>Usuario: Nombre del usuario</p>
          </div>
          <div class="right">
            Fecha del prestamo: XX/XX/XXXX &nbsp;-&nbsp; Fecha de devolucion: XX/XX/XXXX
          </div>
        </div>

        <div class="row">
          <div class="left">
            <h3>Articulo prestado 3</h3>
            <p>Usuario: Nombre del usuario</p>
          </div>
          <div class="right">
            Fecha del prestamo: XX/XX/XXXX &nbsp;-&nbsp; Fecha de devolucion: XX/XX/XXXX
          </div>
        </div>
      </div>
    </main>
  </div>
</div>