<div class="page">
  
  <div class="layout">
    <aside class="sidebar">
      <div class="profile">
        <div class="avatar"></div>
        <span>Username_123</span>
      </div>

      <div class="logout-box">
        <p>CERRAR SESION</p>
        <button class="logout-btn">
        <span>SALIR</span> 
        <img src= "assets/icons/icon-logout.png" alt="logout" class="icon" /> 
        </button>
      </div>

      <div class="settings">⚙ Configuraciones</div>
    </aside>

    <main class="content">
      <nav class="topbar">
        <a routerLink="/solicitar-prestamo">Solicitar préstamo</a>
        <a href="#">Devolución</a>
        <a href="#">Historial</a>
      </nav>

      <section class="welcome">
        <h1>Bienvenido(@)</h1>
        <span>Username_123</span>
      </section>

      <section class="loans-section">
        <h2>Prestamos activos</h2>

        <div class="loan-card">
          <h3>Tripode de Aluminio</h3>
          <p>Fecha del prestamo: XX/XX/XXXX</p>
        </div>

        <div class="loan-card">
          <h3>Nivel automatico</h3>
          <p>Fecha del prestamo: XX/XX/XXXX</p>
        </div>
      </section>
    </main>
  </div>
</div>
