@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --background-color: #111317;
  --font-family-base: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family-base);
}
